
body
{
	font-family: 'Lato', sans-serif;
}

.tr-head h2
{
	color:rgb(64, 255, 0);
	font-weight: 600;
	letter-spacing: 3px;
	margin-top:0px;
  margin-bottom: 0px;
}
.tr-head h3
{
  color:rgb(26, 26, 255);
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-top:0px;

}
.tr-head
{
	padding: 0px;
}
.redwrap
{
	background: rgba(255,11,0,0.5);
	width:100%;
	height: 545px;
}
.wrap
{
	padding: 0px;
}
.blue-sec
{
	height: 150px;
	background: rgb(6,135,236);
}
